<div class="panel panel-info">
  <div class="panel-heading">About</div>
  <div class="panel-body about">
	Every one of us would probably like to improve something about our bodies. Whether it’s the size, shape, proportions, or health and fitness level, we all have things that are important to us and things we would like to work on! Keeping ourselves in shape is so beneficial for our lives. It is important for the health of the heart and organs that keep us functioning every day! I will share some simple and (some may seem small) but important tips that everyone can incorporate into a day! Things that will not only help your fitness but also will help change the way you feel about your body. I believe attitude is one of the key factors in staying motivated and realizing the importance of taking care of the body you’ve been given. So let’s get started!
  </div>
</div>

