<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
		<img alt="Tamil Taagam" src="images/taagam.png" class="navbar-brand app-logo"/> 
		<h3 class="app-head">{{ 'TITLE' | translate }} <span class="position">{{position}}</span></h3>
		<a id="share_link" href="#" ng-click="share()"><img alt="Share" src="images/share.png"/> </a>
	</div>
  </div>
</nav>
<div class="container-fluid content">
	<!--Body content-->
	<div class="article" ng-swipe-left="older()" ng-swipe-right="newer()">
		<input type="hidden" id="sequence" ng-model="index"/></input>
		<h4 id="article-title" class="article-head">{{article.title}}</h4>
		<span class="article-date">{{article.publishedDate |  todate}}</span> 
		<p class="article-content" ng-bind-html="article.content" ></p>
		<!--a href="{{article.link}}" target="_blank">View More</span--> 
	</div>	
</div>
<div class="footer navbar-default navbar-fixed-bottom" role="navigation">
	<!-- container-->	
	<div class="container-fluid content">
		<nav>
		  <ul class="pager navigate">
			<li class="previous"><a href="#" ng-click="newer()">&larr; Previous</a></li>
			<li class="next"><a href="#" ng-click="older()">Next &rarr;</a></li>
		  </ul>
		</nav>	
	</div>
</div>	
<script>
	updateLanguage();
</script>

