<div class="row padless">
	<div class="col-md-12">
		<div class="list-group">
			<a href="#articles" class="list-group-item">
				<img class="media-object pull-left nav-icon" src="images/article.png" alt="Stay Healthy">
				<h4 class="list-group-item-heading">Stay Healthy</h4>
				<p class="list-group-item-text">All Recent blog news from your mobile.</p>
			</a>
			<a href="#aboutus" class="list-group-item">
				<img class="media-object pull-left nav-icon" src="images/aboutus.png" alt="Who are we">
				<h4 class="list-group-item-heading">Who are we?</h4>
				<p class="list-group-item-text">Find out who we are from this page.</p>
			</a>
			<a href="http://stayhealthy.careerwrap.com/" target="_blank" class="list-group-item">
				<img class="media-object pull-left nav-icon" src="images/website.png" alt="Mobile Website">
				<h4 class="list-group-item-heading">Blog's mobile website</h4>
				<p class="list-group-item-text">Visit mobile version of our blog website.</p>
			</a>
			<a href="#contactus" class="list-group-item">
				<img class="media-object pull-left nav-icon" src="images/contact.png" alt="Contact us">
				<h4 class="list-group-item-heading">Contact us</h4>
				<p class="list-group-item-text">Click here to contact us by email!</p>
			</a>
		</div>	
	</div>
</div>
